* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: #d3d3d3;
}

p {
  margin-top: 20px;
  margin-left: 15%;
  margin-right: 15%;
  text-align: justify;
}

h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

li {
  margin: 10px;
  font-size: 1.5rem;
}

.image-front {
  border-radius: 50%;
  margin: 70px;
}

.header {
  display: flex;
  width: 100%;
}

.box-header {
  padding: 30px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: large;
  flex-grow: 1;
}

.header-home {
  flex-grow: 20;
  text-align: left;
}

.body-main {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.link-header {
  background-color: black;
  text-decoration: none;
}

a:visited {
  color: white;
}
